# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Logs
*.log

# SQLite
*.sqlite3
*.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
*.egg-info/

# PyCharm
.idea/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db