<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='user_data_layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Hello Flask Application</title>
</head>
<body>
    <main>
        {% if name %}
        <h1>Hello, {{ name }} {{ surname }}</h1>
        {% else %}
        <h1>Hello, Anonymous!</h1>
        {% endif %}
        <form action="/users_sync" method="post">
            <div class="form-layout">
                <div class="field">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="field">
                    <label for="surname">Surname:</label>
                    <input type="text" id="surname" name="surname" required>
                </div>
                <button class="button" type="submit">Send</button>
            </div>
        </form>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <a href="/">
            <button class="button">Home</button>
        </a>
    </main>
</body>
</html>